<div class="row">
    <div class="bio container fadeIn fast">
        <div class="col-md-7">
            <div class="imagenBio" data-aos="fade-right">
                <img src="../../assets/img/bio.jpg">
            </div>
        </div>

        <div class="col-md-5">
            <div class="descripcion fadeIn lengt">
                <h3 style="color: grey; font-size: 2rem;">Buscá Soluciones,</h3>
                <h3> <b>YO LAS BRINDO</b></h3>
                <hr>
                <p>Cualquier empresa, negocio o emprendimiento de hoy debe tener su marca, identidad y estar en la web, con la mejor imagen posible y aprovechando todas las herramientas que el marketing digital nos brinda. Como objetivo principal es ayudar
                    a nuestros clientes a que aumenten sus ventas, comunicarle su mensaje lo más claro posible y lograr que llegue a la mayor cantidad de personas posibles, dándole valor agregado a sus marcas y/o productos, brindandoles todo el soporte
                    y asesoramiento necesario.</p>
                <br>

                <h3>Tecnologías</h3>
                <hr>
                <div class="iconos fadeIn lengt " data-aos="fade-up">
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="100"><img src="../../assets/img/prog1.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="200"><img src="../../assets/img/prog2.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="300"><img src="../../assets/img/prog3.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="400"><img src="../../assets/img/prog4.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="500"><img src="../../assets/img/prog5.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="600"><img src="../../assets/img/prog6.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="700"><img src="../../assets/img/prog7.jpg"></div>
                    <div class="cuadrado" data-aos="fade-up" data-aos-delay="800"><img src="../../assets/img/prog8.jpg"></div>





                </div>

            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>