<footer>
    <div class="logoFooter fadeIn animated"><img src="../../assets/img/logo.png"></div>
    <p><b>Maximiliano Marchi</b> <br>Diseñador Gráfico</p>
    <br>
    <div class="informacionFooter">
        <div class="row">
            <img src="../../assets/img/whats.png" style="max-width: 25px; padding-top: 10px;">
            <p style="padding-top: 10px; padding-left: 10px; padding-right: 40px;">(011)15-5001-0512</p>
            <img src="../../assets/img/email.png" style="max-width: 25px; padding-top: 10px;">
            <p style="padding-top: 10px; padding-left: 10px;">maxi.marchi@hotmail.com</p>
        </div>
    </div>



</footer>