<div class="carrusel">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="../../assets/img/marca1byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca2byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca3byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca4byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca5byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca6byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca7byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca8byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca9byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca10byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca11byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca12byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca13byn.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="../../assets/img/marca14byn.png" height="100" width="250" alt="" />
            </div>


        </div>
    </div>

</div>