<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4" data-aos="fade-up">
            <img src="../../assets/img/btn1.png" style="max-width: 180px; max-height: 180px;">
            <h2>Diseño de identidad</h2>
            <p>Creación, desarrollo y planificación de identidades corporativas, empresariales y personales. Trabajé con múltiples marcas creando desde 0 identidades y mejorando las que ya tenian.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver ejemplos &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 " data-aos="fade-up">
            <img src="../../assets/img/btn2.png" style="max-width: 180px; max-height: 180px;">

            <h2>Diseño Gráfico</h2>
            <p>Diseño integral, desde branding, logos, folleteria, editorial, maquetado, señalélica, iconografía, packaging, entre otros. Desde lo simple de un icono hasta lo más complejo como una campaña.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver ejemplos &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" data-aos="fade-up">
            <img src="../../assets/img/btn3.png" style="max-width: 180px; max-height: 180px;">
            <h2>Desarrollador</h2>
            <p>Desarrollador movil y web, utilizando tecnologías como angular, javascript, html5, css3, php, entre otros, logramos resolver proyectos digitales adaptados a la necesidad del cliente. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->