<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <img src="../../../assets/img/cv/foto.jpg" class="img-fluid fotoCv">

            <!-- /////////  INICIO COLUMNA IZQUIERDA   ///////// -->

            <div class="contenedorIzquierdo">
                <h1 class="pt-3 text-center">- Contacto -</h1>
                <div class="row ">
                    <div class="col-4"><img src="../../../assets/img/cv/icono1.svg"></div>
                    <div class="col-8 textoContacto">maxi.marchi@hotmail.com</div>
                </div>
                <div class="row pt-3">
                    <div class="col-4"><img src="../../../assets/img/cv/icono2.svg"></div>
                    <div class="col-8 textoContacto">(+549) 11-5001-0512</div>
                </div>
                <div class="row pt-3">
                    <div class="col-4"><img src="../../../assets/img/cv/icono3.svg"></div>
                    <div class="col-8 ">Intendente Aguero 906<br> Morón - Buenos Aires
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-4"><img src="../../../assets/img/cv/icono4.svg"></div>
                    <div class="col-8 textoContacto"><a class="linkangema" href="https://www.angema.com.ar/home">www.angema.com.ar</a></div>
                </div>
                <h1 class="pt-3 pb-4 text-center">- Habilidades -</h1>
                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4"> Diseño Gráfico</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="dGrafico" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4"> Programación</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="programacion" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Edición Imagen</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="Eimagen" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Maquetado</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="maquetado" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">UX / UI</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="ux" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <h1 class="pt-3 pb-4 text-center">- Software -</h1>
                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4"> Photoshop</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="photoshop" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4"> Illustrator</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="illustrator" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Indesign</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="indesign" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">After Effects</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="afterEffects" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Premier</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="premier" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <h1 class="pt-3 pb-4 text-center">- Lenguajes -</h1>
                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4"> Angular</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="angular" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4"> JavaScript</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="javaS" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Ionic</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="ionic" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Java</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="java" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Html / Css</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="html" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <h1 class="pt-3 pb-4 text-center">- Idiomas -</h1>
                <div>
                    <img src="../../../assets/img/cv/bandera.jpg" class="bandera">
                </div>


                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Leer y escribir</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="leer" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h6 class="pl-4">Hablar</h6>
                    </div>
                    <div class="col-6 pt-1">
                        <div id="hablar" class="mr-4">
                            <div></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <!-- /////////  FIN COLUMNA IZQUIERDA   ///////// -->

        <!-- /////////  INICIO COLUMNA DERECHA   ///////// -->


        <div class="col-lg-8 col-sm-12 " style=" height: 800px; width: 100%;">
            <div class="contenedorDerecho">
                <div>
                    <img src="../../../assets/img/cv/header.svg" class="img-fluid">
                </div>
                <div class="p-5">
                    <p>
                        <span class="nombre">Marchi</span>
                        <span class="apellido"> Maximiliano</span>
                    </p>
                    <p>
                        <span class="carrera">Developer y Diseñador Gráfico</span>
                    </p>
                    <p>
                        33 años (Soltero)<br> DNI: 34072305<br> Recibido de Diseñador: 2015<br> En progreso: Desarrollador Web y Movil<br>
                    </p>
                    <p>
                        <span><b>Trabajando en sociedad con:</b></span><br>
                        <span class="empresa">www.angema.com.ar</span>
                    </p>
                </div>
                <div class="titulo">
                    <img src="../../../assets/img/cv/titulo1.svg">
                </div>
                <div class="p-5">
                    <div class="row">
                        <div class="col-4" data-aos="fade-right">
                            <span class="subtitulo">2018-Actual</span>
                            <div>
                                <img src="../../../assets/img/cv/logoCardif.svg" style="max-width: 70%;">
                            </div>
                        </div>
                        <div class="col-8" data-aos="fade-left">
                            <span class="subtituloIzq">Diseño Gráfico y Programador
                        </span>
                            <p>Actualmente estoy encargado de la identidad y campañas publicitarias de la empresa. Mis tareas radican fundamentalmente en piezas gráficas y comunicación. Campañas publicitarias, estrategia de comunicación, presentaciones,
                                maquetado de emails o landing y el desarrollo de las mismas, entre otros. </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4" data-aos="fade-right">
                            <span class="subtitulo">2013-Actual</span>
                            <div>
                                <img src="../../../assets/img/cv/logoAngema.svg" style="max-width: 70%;">
                            </div>
                        </div>
                        <div class="col-8" data-aos="fade-left">
                            <span class="subtituloIzq">Maquetador y desarrollador Frontend
                        </span>
                            <p>Junto a mi socio fundamos Angema, una empresa de desarrollo de soluciones y software para empresas. Mi Principal función era el maquetado, el flujo de datos y la estrategia de comunicación de cada proyecto. Una vez planteadas
                                las bases, mi labor era el desarrollo Frontend utilizando distintas herramientas, desde Angular, Ionic o librerias como Bootstrap o Tailwind.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="titulo">
                    <img src="../../../assets/img/cv/titulo2.svg">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="p-5 centradoEstudio">
                            <span class="estudiosTexto">Tecnicatura en desarrollo móvil y web </span>
                            <img class="iconoEstudio pt-4" src="../../../assets/img/cv/estudio1.svg" data-aos="flip-left">
                            <span class="estudiosSubtitulo p-3">Universidad de la Matanza</span>

                        </div>
                    </div>
                    <div class="col">
                        <div class="p-5 centradoEstudio">
                            <span class="estudiosTexto">Diseñador Gráfico<br><br></span>
                            <img class="iconoEstudio pt-4" src="../../../assets/img/cv/estudio2.svg" data-aos="flip-left">
                            <span class="estudiosSubtitulo p-3">Universidad de la Buenos Aires</span>
                        </div>
                    </div>
                </div>

                <div class="titulo">
                    <img src="../../../assets/img/cv/titulo1.svg">
                </div>
            </div>
        </div>

    </div>

    <app-marcas-carousel></app-marcas-carousel>

    <div class="centradoEstudio p-5">
        <div class="row">
            <div class="col">
                <button type="submit" onclick="window.open('../../../assets/img/cv/CV_Maximiliano_Marchi.pdf')" class="btn btn-warning btn-lg">Descargar CV</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>