<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7" data-aos="fade-right">
            <h2 class="featurette-heading" data-aos="fade-left">Diseño de packaging <br> <span class="text-muted">Nikitos Snacks</span></h2>
            <p class="lead">El packaging es conocido como el vendedor silencioso y es considerado como el nuevo branding por su capacidad de seducir, informar y destacar los atributos de un producto en apenas 3 segundos. </p>
            <img src="../../assets/img/marca1.png" style="max-width: 180px; max-height: 89px;">

        </div>
        <div class="col-md-5" data-aos="fade-left">
            <img src="../../assets/img/img1.png" style="max-width: 500px; max-height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7 order-md-2" data-aos="fade-left">
            <h2 class="featurette-heading" data-aos="fade-right">Desarrollo web <br> <span class="text-muted">Ardeco Argentina</span></h2>
            <p class="lead">Hoy en día, el mejor escaparate para tu negocio es internet. El mercado cada vez está más globalizado y la competencia es más fuerte. Seguramente, esa competencia ya tiene su página profesional. Tu imagen corporativa y tu página web son la
                cara visible de tu marca.<br> <a href="www.ardeco.com.ar">www.ardeco.com.ar</a> </p>
            <img src="../../assets/img/marca2.png" style="max-width: 250px; max-height: 76px;">

        </div>
        <div class="col-md-5 order-md-1" data-aos="fade-right">
            <img src="../../assets/img/img2.png" style="max-width: 500px; max-height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7" data-aos="fade-right">
            <h2 class="featurette-heading" data-aos="fade-left">Mailings <br> <span class="text-muted">Musimundo</span></h2>
            <p class="lead">Una de las herramientas mas potentes actuales son los envios masivos de emails para comunicar un producto, promoción o simplemente informar a tus clientes. Pero para que tenga la mejor recepción es necesario que esté bien armado y visualmente
                atractivo.
            </p>
            <img src="../../assets/img/marca3.png" style="max-width: 292px; max-height: 61px;">

        </div>
        <div class="col-md-5" data-aos="fade-left">

            <img src="../../assets/img/img3.png" style="max-width: 500px; max-height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">


    <div class="row">
        <div class="col-md-7 order-md-2" data-aos="fade-left">
            <h2 class="featurette-heading" data-aos="fade-right">Folletería <br> <span class="text-muted">Carrefour</span></h2>
            <p class="lead">Los folletos son excelentes piezas de presentación para su empresa, sus productos, servicios o profesión. Mediante la folleteria pueden hacerse presentaciones o promociones, en cualquiera de los casos, los folletos deben reflejar la calidad
                que ofrecen sus servicios o productos.</p>
            <img src="../../assets/img/marca4.png" style="max-width: 266px; max-height: 76px;">

        </div>
        <div class="col-md-5 order-md-1" data-aos="fade-right">
            <img src="../../assets/img/img4.png" style="max-width: 500px; max-height: 500px;">
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row">
        <div class="col-md-7" data-aos="fade-right">
            <h2 class="featurette-heading" data-aos="fade-left">Diseño editorial <br> <span class="text-muted">BNP Paribas Cardif</span></h2>
            <p class="lead">El diseño gráfico editorial se dedica a la diagramación y producción de piezas literarias como libros, revistas, diarios, manuales, piezas compuestas de muchas páginas o pliegos, y con criterios tipográficos de composición que se realzan mas
                que en otras piezas.

            </p>
            <img src="../../assets/img/marca5.png" style="max-width: 271px; max-height: 61px;">

        </div>
        <div class="col-md-5" data-aos="fade-left">
            <img src="../../assets/img/img5.png" style="max-width: 500px; max-height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7 order-md-2" data-aos="fade-left">
            <h2 class="featurette-heading" data-aos="fade-right">Logotipo <br> <span class="text-muted">Angema</span></h2>
            <p class="lead">La definición de un logotipo es una de las más importantes, ya que será la impronta que dejará tu marca de ahora en adelante. Un logo puede captar rápidamente la atención de los clientes potenciales y comunicar los valores fundamentales de
                su empresa de una manera rápida y eficaz. </p>
            <img src="../../assets/img/marca6.png" style="max-width: 271px; max-height: 61px;">

        </div>
        <div class="col-md-5 order-md-1" data-aos="fade-right">
            <img src="../../assets/img/img6.png" style="max-width: 500px; max-height: 500px;">
        </div>
    </div>


    <!-- /END THE FEATURETTES -->
</div>